.profile__user-avatar {
    border: none;
    padding: 0;
    display: flex;
    position: relative;
    background-color: #000000;
    cursor: pointer
}
.profile__user-avatar:hover:before{
    content:" ";
    position: absolute;
    width: 120px;
    height: 120px;
    background: url(../../../images/pen.svg) 50% 50% no-repeat#000000cc;
  }